nodeRedFlows/flows.json
[
    {
        "id": "b06c23d8080bf66f",
        "type": "tab",
        "label": "Water Quality Dashboard",
        "disabled": false,
        "info": "Water Quality Monitoring System Dashboard",
        "env": []
    },
    {
        "id": "ea958e55d200415f",
        "type": "mqtt in",
        "z": "b06c23d8080bf66f",
        "name": "WaterData",
        "topic": "reservoir/water_quality/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ea598e900f46bb49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "08cc27806df23f2c",
                "8343729606e7291a",
                "590c01d021a7aba0",
                "0d97cc0df17087e9"
            ]
        ]
    },
    {
        "id": "08cc27806df23f2c",
        "type": "debug",
        "z": "b06c23d8080bf66f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "8343729606e7291a",
        "type": "function",
        "z": "b06c23d8080bf66f",
        "name": "Format Dashboard Data",
        "func": "// Add timestamp for charts\nif (!msg.payload.timestamp_iso) {\n    // Handle the new timestamp format or use current date if timestamp is invalid\n    try {\n        // Check if timestamp is already a Date object or ISOString\n        if (msg.payload.timestamp instanceof Date || (typeof msg.payload.timestamp === 'string' && !isNaN(Date.parse(msg.payload.timestamp)))) {\n            msg.payload.timestamp_iso = new Date(msg.payload.timestamp).toISOString();\n        }\n        // Check if timestamp is a string with the time and date format\n        else if (typeof msg.payload.timestamp === 'string' && msg.payload.timestamp.includes(':')) {\n            // Extract the components from \"10:20:13 15 04 2025\"\n            let parts = msg.payload.timestamp.split(' ');\n            if (parts.length >= 3) {\n                let time = parts[0]; // \"10:20:13\"\n                let day = parts[1];  // \"15\"\n                let month = parts[2]; // \"04\"\n                let year = parts[3];  // \"2025\"\n                \n                // Create an ISO date string\n                msg.payload.timestamp_iso = `${year}-${month}-${day}T${time}`;\n            } else {\n                // Fallback to current time if format doesn't match\n                msg.payload.timestamp_iso = new Date().toISOString();\n            }\n        } else {\n            // Fallback to current time\n            msg.payload.timestamp_iso = new Date().toISOString();\n        }\n    } catch (e) {\n        // If any parsing error occurs, use current time\n        msg.payload.timestamp_iso = new Date().toISOString();\n    }\n}\n\n// Create a copy of the original message for the device info\nvar deviceInfoMsg = { payload: { ...msg.payload } };\n\n// Parse numeric values to ensure they're numbers not strings\nmsg.payload.ph = parseFloat(msg.payload.ph) || 0;\nmsg.payload.tds = parseFloat(msg.payload.tds) || 0;\nmsg.payload.turbidity = parseFloat(msg.payload.turbidity) || 0;\nmsg.payload.temperature = parseFloat(msg.payload.temperature) || 0;\n\n// Create chart data (with timestamps and all parameters)\nvar chartData = {\n    payload: [\n        { topic: \"pH\", payload: msg.payload.ph, timestamp: msg.payload.timestamp_iso },\n        { topic: \"TDS\", payload: msg.payload.tds, timestamp: msg.payload.timestamp_iso },\n        { topic: \"Turbidity\", payload: msg.payload.turbidity, timestamp: msg.payload.timestamp_iso },\n        { topic: \"Temperature\", payload: msg.payload.temperature, timestamp: msg.payload.timestamp_iso }\n    ]\n};\n\n// Create separate messages for each gauge\nvar ph = { payload: msg.payload.ph, topic: \"pH\" };\nvar tds = { payload: msg.payload.tds, topic: \"TDS\" };\nvar turbidity = { payload: msg.payload.turbidity, topic: \"Turbidity\" };\nvar temperature = { payload: msg.payload.temperature, topic: \"Temperature\" };\n\n// Create messages for status indicators\nvar phStatus = { payload: getPhStatus(msg.payload.ph) };\nvar tdsStatus = { payload: getTdsStatus(msg.payload.tds) };\nvar turbidityStatus = { payload: getTurbidityStatus(msg.payload.turbidity) };\nvar tempStatus = { payload: getTemperatureStatus(msg.payload.temperature) };\n\n// Helper functions for status determination\nfunction getPhStatus(value) {\n    if (value >= 6.5 && value <= 8.5) return \"Normal\";\n    else if (value < 6.5) return \"Acidic\";\n    else return \"Alkaline\";\n}\n\nfunction getTdsStatus(value) {\n    if (value < 300) return \"Excellent\";\n    else if (value >= 300 && value <= 600) return \"Good\";\n    else if (value > 600 && value <= 900) return \"Fair\";\n    else return \"Poor\";\n}\n\nfunction getTurbidityStatus(value) {\n    if (value < 5) return \"Clear\";\n    else if (value >= 5 && value <= 10) return \"Slightly Cloudy\";\n    else return \"Cloudy\";\n}\n\nfunction getTemperatureStatus(value) {\n    if (value >= 20 && value <= 30) return \"Optimal\";\n    else if (value < 20) return \"Cold\";\n    else return \"Hot\";\n}\n\n// Return all messages\nreturn [chartData, ph, tds, turbidity, temperature, phStatus, tdsStatus, turbidityStatus, tempStatus, deviceInfoMsg];",
        "outputs": 10,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "b1384eafb1fdb4d4"
            ],
            [
                "e0441cf4ce37f786"
            ],
            [
                "b4346246fd4a4578"
            ],
            [
                "be26fc7075d9a7ec"
            ],
            [
                "78b8d1b30c792681"
            ],
            [
                "36110bef05607f11"
            ],
            [
                "5ef569decf9e3f40"
            ],
            [
                "a96111223511eff2"
            ],
            [
                "9d6d11a01d7f4b1b"
            ],
            [
                "5f3c3f848455dbcb"
            ]
        ]
    },
    {
        "id": "590c01d021a7aba0",
        "type": "function",
        "z": "b06c23d8080bf66f",
        "name": "Calculate Water Quality Index",
        "func": "// Simple Water Quality Index calculation\nvar ph = msg.payload.ph;\nvar tds = msg.payload.tds;\nvar turbidity = msg.payload.turbidity;\nvar temperature = msg.payload.temperature;\n\n// Normalize values to 0-100 scale\nvar phScore = calculatePhScore(ph);\nvar tdsScore = calculateTdsScore(tds);\nvar turbidityScore = calculateTurbidityScore(turbidity);\nvar tempScore = calculateTempScore(temperature);\n\n// Calculate overall WQI (simple average)\nvar wqi = (phScore + tdsScore + turbidityScore + tempScore) / 4;\n\n// Quality classification\nvar quality = \"\";\nif (wqi >= 90) quality = \"Excellent\";\nelse if (wqi >= 70) quality = \"Good\";\nelse if (wqi >= 50) quality = \"Fair\";\nelse if (wqi >= 25) quality = \"Poor\";\nelse quality = \"Very Poor\";\n\n// Helper functions for parameter scoring\nfunction calculatePhScore(value) {\n    if (value >= 6.5 && value <= 7.5) return 100;\n    else if (value >= 6.0 && value < 6.5) return 80;\n    else if (value > 7.5 && value <= 8.5) return 80;\n    else if (value >= 5.0 && value < 6.0) return 60;\n    else if (value > 8.5 && value <= 9.0) return 60;\n    else return 30;\n}\n\nfunction calculateTdsScore(value) {\n    if (value < 300) return 100;\n    else if (value >= 300 && value <= 600) return 80;\n    else if (value > 600 && value <= 900) return 60;\n    else if (value > 900 && value <= 1200) return 40;\n    else return 20;\n}\n\nfunction calculateTurbidityScore(value) {\n    if (value < 1) return 100;\n    else if (value >= 1 && value < 5) return 80;\n    else if (value >= 5 && value <= 10) return 60;\n    else if (value > 10 && value <= 15) return 40;\n    else return 20;\n}\n\nfunction calculateTempScore(value) {\n    if (value >= 20 && value <= 30) return 100;\n    else if ((value >= 15 && value < 20) || (value > 30 && value <= 35)) return 80;\n    else if ((value >= 10 && value < 15) || (value > 35 && value <= 40)) return 60;\n    else return 40;\n}\n\n// Create messages for WQI gauge and status\nvar wqiGauge = { payload: Math.round(wqi), topic: \"WQI\" };\nvar wqiStatus = { payload: quality };\n\nreturn [wqiGauge, wqiStatus];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "c4681334d5e6eb71"
            ],
            [
                "878e3e5710e8f44b"
            ]
        ]
    },
    {
        "id": "36110bef05607f11",
        "type": "ui_text",
        "z": "b06c23d8080bf66f",
        "group": "fa13a851934c06de",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "pH Status",
        "label": "pH Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "5ef569decf9e3f40",
        "type": "ui_text",
        "z": "b06c23d8080bf66f",
        "group": "fa13a851934c06de",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "TDS Status",
        "label": "TDS Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "a96111223511eff2",
        "type": "ui_text",
        "z": "b06c23d8080bf66f",
        "group": "fa13a851934c06de",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Turbidity Status",
        "label": "Turbidity Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "9d6d11a01d7f4b1b",
        "type": "ui_text",
        "z": "b06c23d8080bf66f",
        "group": "fa13a851934c06de",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Temperature Status",
        "label": "Temperature Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "878e3e5710e8f44b",
        "type": "ui_text",
        "z": "b06c23d8080bf66f",
        "group": "86815b0d92fb9776",
        "order": 2,
        "width": "12",
        "height": "2",
        "name": "WQI Status",
        "label": "Water Quality:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "e0441cf4ce37f786",
        "type": "ui_gauge",
        "z": "b06c23d8080bf66f",
        "name": "pH Gauge",
        "group": "8b3cf9e1355c6229",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "pH Level",
        "label": "pH",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "6.5",
        "seg2": "8.5",
        "className": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "b4346246fd4a4578",
        "type": "ui_gauge",
        "z": "b06c23d8080bf66f",
        "name": "TDS Gauge",
        "group": "8b3cf9e1355c6229",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "TDS",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "900",
        "className": "",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "be26fc7075d9a7ec",
        "type": "ui_gauge",
        "z": "b06c23d8080bf66f",
        "name": "Turbidity Gauge",
        "group": "8b3cf9e1355c6229",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Turbidity",
        "label": "NTU",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "10",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "78b8d1b30c792681",
        "type": "ui_gauge",
        "z": "b06c23d8080bf66f",
        "name": "Temperature Gauge",
        "group": "8b3cf9e1355c6229",
        "order": 4,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0080ff",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "c4681334d5e6eb71",
        "type": "ui_gauge",
        "z": "b06c23d8080bf66f",
        "name": "WQI Gauge",
        "group": "86815b0d92fb9776",
        "order": 1,
        "width": "12",
        "height": "6",
        "gtype": "donut",
        "title": "Water Quality Index",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "b1384eafb1fdb4d4",
        "type": "ui_chart",
        "z": "b06c23d8080bf66f",
        "name": "Water Quality History",
        "group": "ae3382f91f195f93",
        "order": 1,
        "width": "24",
        "height": "8",
        "label": "Water Quality Parameters History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#d62728",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5f3c3f848455dbcb",
        "type": "ui_template",
        "z": "b06c23d8080bf66f",
        "group": "cc546d0ef79bf5ac",
        "name": "Device Info",
        "order": 1,
        "width": "24",
        "height": "2",
        "format": "<div style=\"text-align: center; width: 100%;\">\n    <h4>Device ID: {{msg.payload.deviceId || 'Unknown'}} </h4> \n    <br>\n    <br>\n    <h4> Last updated: {{msg.payload.timestamp_iso || 'Not available'}}</h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 730,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0d97cc0df17087e9",
        "type": "mongodb3 in",
        "z": "b06c23d8080bf66f",
        "service": "_ext_",
        "configNode": "5025d7188d38d556",
        "name": "mongoDB",
        "collection": "swqms",
        "operation": "insert",
        "x": 340,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ea598e900f46bb49",
        "type": "mqtt-broker",
        "name": "HiveMq",
        "broker": "5df16d8a5a1c438294a51cb556f6df87.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "0dd062dc9fc95904",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fa13a851934c06de",
        "type": "ui_group",
        "name": "Parameter Status",
        "tab": "5f1eaf98fb9b6835",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "86815b0d92fb9776",
        "type": "ui_group",
        "name": "Overall Quality",
        "tab": "5f1eaf98fb9b6835",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b3cf9e1355c6229",
        "type": "ui_group",
        "name": "Current Readings",
        "tab": "5f1eaf98fb9b6835",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae3382f91f195f93",
        "type": "ui_group",
        "name": "History",
        "tab": "5f1eaf98fb9b6835",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc546d0ef79bf5ac",
        "type": "ui_group",
        "name": "Device Info",
        "tab": "5f1eaf98fb9b6835",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5025d7188d38d556",
        "type": "mongodb3",
        "uri": "mongodb+srv://swqms:Swqms123@nodered.5rouyap.mongodb.net/swqms?retryWrites=true&w=majority&appName=nodeRed",
        "name": "nodered",
        "options": "",
        "parallelism": -1
    },
    {
        "id": "0dd062dc9fc95904",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "5f1eaf98fb9b6835",
        "type": "ui_tab",
        "name": "Water Quality Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]